* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	!font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
}

#hero{
	background-image: url('https://lh3.googleusercontent.com/6Yi25RVOH__pTJge6AOltBOUaVoCkYMYeoeRjEN7r5TUsu-t9MyilFskPbQ9eqEv1hrmDDiGYiWIrC3oP3D2KBbyYhAGlTLvN-8kzDL1oMKGBY7-2oGdSOK87jpzMFQd01qCLWefo_TjKqF8QRnOEp_i8Ljg5mHlpko9afMDciJsBkiV9G8zC6sAb15z-vjepXIKFftW2TsRvTW6LwweCcIHjmL_fX-oVUz_s0ssElXFkF58umlzzloWjh5nRLh2QNbd3GAsweWVUZxMfkTNnT6k-VVTyPuU0N9zNL_vLLUPuJSzBe-JeJbndrI9xd4HfJjf4CJXh2TZuiz2HVy37AQk2s1YKq6F3-dXMcDdDIx7sc8uqe3PKDjntnI4xWv_33qGP5XhVqWCJL9yM9Pkrxg1omY9VqHwlIKST6MDMIST12LG3QvQZySEiAw9cP1dCd4U8x_TXSgKF-iVOl6vRWf3Eg3pAZC5Exef-_2HZpyGlldeFBwc1KyABe-RLB3VZFZK0YezdjfbVyu2aQoldUIwj6Dw2fZpA2GFPXEgqnKDFQKbfvj0CooCZttI3ECOaIYiy692OOKv_2biZN5U-UroZzxyiRPQwhbDAcW0GXK3J-DW9DxufodmIImKWZGpJusR4UMFQOPxP3ayVFz8OOGJeUqIrRnN3EVT18SkkebBsCL6GQZ-PmZvYDWp1bAve8czphMEPRGf05PliA=w720-h478-no');
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}

.bg-overlay{
	background-color: rgba(0,0,0,0.5);
	height: 100vh;
	margin: 0px;
	padding: 0px;
}

nav{
	background-color: transparent;
	border: none;
	padding: 20px;
}

.navbar-default{
	background-color: transparent;
	border: none;
	border-radius: 0;
}

.navbar-default .navbar-brand{
	color: black;
}
.navbar-default .navbar-nav > li > a{
	color: white;
	text-transform: uppercase;
	font-size: 14px;
}

.navbar-default .navbar-nav > li > a:hover{
	color: orange;
}

/**
.navbar-header {
    !float: left;
    !padding: 15px;
    text-align: center;
    width: 100%;
}
**/
.navbar-brand {!float:none;}

#hero-text{
	padding-left: 50px;
	padding-right: 50px;
	!padding-top: 70px;
	color: white;
	text-align: center;
}

#brand-heading{
	!width:40%;
	margin:0 auto;
}
.brand-heading{
	font-family: 'Sonsie One', cursive;
	font-size: 4rem;
	text-align: center;
	border-top: 2px solid orange;
	color: white;
	padding-top:15px;
	width: 250px;
	margin: 0 auto;
	!display: inline-block;
}
#subheading{
	font-family: 'Kanit', sans-serif;
}
.text-orange{
	color: orange;
}

#brand-description{
	width: 100%;
	margin: 0 auto;
	margin-top: 25px;
	line-height: 1.5;
}

.btn-orange{
	margin-top: 25px;
	padding: 10px 20px;
	!padding-right: 20px;
	color: orange;
	background-color: transparent;
	border: 1px solid orange;
	text-transform: uppercase;
}

.btn-orange:hover{
	color: white;
	background-color: darkorange;
	border: 1px solid orange;
}

.btn-orange:active{
	color: white;
	background-color: darkorange;
	border: 1px solid orange;
}

.btn-orange:active:focus{
	color: white;
	background-color: darkorange;
	border: 1px solid orange;
}

.btn-orange:focus{
	color: white;
	background-color: darkorange;
	border: 1px solid orange;
}

.sidebar{
	!background-color: azure;
	!box-shadow: 1px rgba(0,0,0,0.5);
}

#sidebar .navbar-nav > li{
	!float: none;
}

#sidebar .navbar-nav > li > a{
	color: black;
}

#sidebar{
	!display: none;

    display: flex;
    align-items: stretch;

    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;

   ! margin-left: -250px;

    position: sticky;
    top: 700px;
    left: 0;
    z-index: 999;

    background-color:rgba(0,0,0,0.7);
    border-right: 2px solid gray;
    width: 250px;
    float: left;
}

.body{
	height: 100vh;
	z-index: 998;
}